{% extends "layout.html" %}
{% block content %}

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main') }}">Flask SSE JS example project</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in menu_items %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('stream', stream_name=item[1]) }}">{{ item[1] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="alert alert-info mt-4">
        Click a stream name link in the top menu to see the job states get auto-refreshed for this specific stream
    </div>

    {% block stream %}
    {% endblock %}
</div>

{% endblock %}

