<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask SSE</title>
</head>
<body>

<div id="target_div">Loading...</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.3.0/json2html.min.js"></script>

<script type="text/javascript">

let template = {'<>':'div','html':'${step_name} ${step_state}'};
var targetContainer = document.getElementById("target_div");

var eventSource = new EventSource("/streams/")
  eventSource.onmessage = function(e) {
  console.log(e.data);
  targetContainer.innerHTML = json2html.transform(e.data,template);
};


</script>


</body>
</html>