{% extends "index.html" %}
{% block stream %}

<div class="alert alert-success">
  <strong>{{ template_stream_name }}</strong>
</div>

<table id="target_table" class="table table-sm">
    <thead class="thead-dark">
    <tr>
        <th>job name</th>
        <th>job state</th>
    </tr>
    </thead>
    <tbody id="target_body">
    <!--here go the SSE stream rows transformed from JSON to HTML in the script below-->
    </tbody>
</table>

<script src="{{url_for('static', filename='js/external/json2html/1.3.0/json2html.min.js')}}"></script>
<script id="stream" data-stream-name="{{ template_stream_name }}"
        src="{{url_for('static', filename='js/sse_stream.js')}}"></script>

{% endblock %}
